body {
    background-image: url('https://images.pexels.com/photos/571169/pexels-photo-571169.jpeg');
    background-repeat: repeat;
    background-size: cover;
    font-family: 'Itim', cursive;
  } 
  
  header
  {
    background-color: #FFFBE9;
    color: #534340;
    height: 100px;
    padding: 50px;
  }

  footer{
    background-color: #E3CAA5;
    color: white;
    height: 40px;
    padding: 10px;
    text-align: center;
  }
    .mainpage 
    {
      width: 1024px; 
      margin: 0 auto;
    }

    .headname1 {
    color: #ffc2b7;
    font-size: 30px;
    }
   
    .headname2 {
      color: #ffc2b7;
      }
     
